# .NET - archivos generados por compilación
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Archivos temporales del sistema
Thumbs.db
.DS_Store
TestDeTerceros/MatiasFontana/EjerciciosSueldos/Diagrama.dio
TestDeTerceros/MatiasFontana/EjerciciosSueldos/sueldo.txt
TestDeTerceros/MatiasFontana/EjerciciosSueldos/ConsoleSolution/ConsoleSolution.slnx
TestDeTerceros/MatiasFontana/EjerciciosSueldos/ConsoleSolution/src/ConsoleApp/ConsoleApp.csproj
TestDeTerceros/MatiasFontana/EjerciciosSueldos/ConsoleSolution/src/ConsoleApp/Empleados.cs
TestDeTerceros/MatiasFontana/EjerciciosSueldos/ConsoleSolution/src/ConsoleApp/Program.cs
TestDeTerceros/MatiasFontana/EjerciciosSueldos/ConsoleSolution/src/ConsoleApp/Sueldos.cs
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/ConsoleSolution.slnx
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/src/ConsoleApp/Circulo.cs
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/src/ConsoleApp/ConsoleApp.csproj
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/src/ConsoleApp/Cuadrado.cs
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/src/ConsoleApp/Figura.cs
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/src/ConsoleApp/Program.cs
TestDeTerceros/MatiasFontana/FiguraGeometrica/ConsoleSolution/src/ConsoleApp/Triangulo.cs
TestDeTerceros/MatiasFontana/FiguraGeometrica/diagrama y enunciado/diagrama.dio
TestDeTerceros/MatiasFontana/FiguraGeometrica/diagrama y enunciado/ejercicio.txt
TestDeTerceros/Ramdom01/ej.figuras.cs
src/ClasesDictadas/Clase03-20260811/03 GMT20260811.txt
